* {
    margin: 0;
    padding: 0;
}

header {
    background-color: tomato;
    border-bottom: 1px solid gray;
    height: 45px;
    width: 100%;
}

header nav a {
    float: left;
    margin: 10px 20px 10px;
    text-decoration: none;
    color: black;
}

header nav ul {
    float: right;
    background-color: greenyellow;
    margin: 15px 40px 10px;
    
}

main .addContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 30%;
    justify-content: center;
    align-items: center;
}

main .addTaskBtn {
    background-color: #409EFF;
    margin-top: 200px;
    color: #fff;
    width: 125px;
    height: 45px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    letter-spacing: 5px;
    outline: none;
    cursor: pointer;
}