* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: whitesmoke;
    background-size: 100%;
}

.header {
    margin: 1.5em 0em 1.5em;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 5px;
}

form {

}

form input {
    background: none;
    border: 0;
    border-bottom: 1px solid black;
}
