* {
    margin: 0;
    padding: 0;
}

body {
    background: url("/static/images/backgroud.png") no-repeat;
    background-size: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 60%;
    margin: 100px auto 0px;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
}

.container .logo {
    width: 104px;
    height: 104px;
    margin: 50px auto 30px;
    background: url("/static/images/login.png") no-repeat;
}

.container .formitem input {
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #fff;
    color: #fff;
    background: none;
    padding-left: 50px;
    font-size: 18px;
    outline: none;
}

.container .formitem input::-webkit-input-placeholder {
    color: #fff;
}

.container .formitem #user {
    background: url("/static/images/emil.png") 14px 10px no-repeat;
}

.container .formitem #passwd {
    background: url("/static/images/password.png") 14px 10px no-repeat;
}

.container #submit {
    width: 350px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
}

.container a {
    color: tomato;
    text-decoration: none;
    margin-bottom: 30px;
}