<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>TodoList</title>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/index/">TodoList</a>
            {% if username != "未登录" %}
                {% if task_num != 0  %}
                    <button class="addTaskBtn" id="nav-add-button" type="button" onclick="addTask()">添加</button>
                {% endif %}
            {% endif %}
            <ul>
                {% if username != '未登陆' %}
                    <li>{{ username }}</li>
                    <li onclick="logout()">注销账号</li>
                {% else %}
                    <li onclick="login()">请登录</li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% if task_num == 0 and username != '未登陆'%}
            <div class="addContainer">
                <h1 style="text-align: center;">没有任何事项，点击下面按钮添加</h1>
                <button class="addTaskBtn" type="button" onclick="addTask()">添加</button>
            </div>
        {% elif username == "未登陆" %}
            <h1 style="text-align: center; margin-top: 100px">请点击右上角登录</h1>
            <div class="login-notifi">
                <button class="addTaskBtn" type="button" onclick="login()">登陆</button>
                <button class="addTaskBtn" type="button" onclick="registe()">注册</button>
            </div>
        {% endif %}
        <div class="cardcontent">
            {% for item in task_list %}
                <div class="card" onclick="editForm(this)">
                    <input name="task_id" type="hidden" value="{{ item.id }}">
                    <h4 id="title" onclick="event.cancelBubble = true">
                        {{item.title}}
                        <button id="delete-btn" onclick="deleteTask(this)">删除</button>
                    </h4>
                    <p id="content">{{item.content}}</p>
                    <p id="addtime" style="font-size: 10px">创建时间:{{item.add_time}}</p>
                    <p id="lastchange" style="font-size: 10px">修改时间:{{item.last_change}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="taskform" id="taskform">
            <form action="/addtask/?type=add" method="POST">
                <h4 style="text-align: center;padding-top: 10px;">新建事项</h4>
                <p>标题:&nbsp;<input type="text" name="title"></p>
                <span style="display: inline-block;vertical-align: top;">内容:&nbsp;</span><textarea name="content" style="display: inline-block; width: 300px; height: 230px; resize: none"></textarea>
            </form>
            <div class="subform">
                <button id="confirm" type="submit" style="background-color: cornflowerblue;" onclick="confirmForm('add')">确定</button>
                <button id="cancel" style="background-color: #fff;" onclick="cancelForm('taskform')">取消</button>
            </div>
        </div>
        <div class="taskform" id="taskformedit">
            <form action="/addtask/?type=edit" method="POST">
                <h4 style="text-align: center;padding-top: 10px;">修改</h4>
                <p>标题:&nbsp;<input type="text" name="title"></p>
                <span style="display: inline-block;vertical-align: top;">内容:&nbsp;</span><textarea name="content" style="display: inline-block; width: 300px; height: 230px; resize: none"></textarea>
                <input type="hidden" value="{{ username }}" name="username">
                <input type="hidden" value="" name="task_id" id="editformip">
            </form>
            <div class="subform">
                <button id="confirm" type="submit" style="background-color: cornflowerblue;" onclick="confirmForm('edit')">确定</button>
                <button id="cancel" style="background-color: #fff;" onclick="cancelForm('taskformedit')">取消</button>
            </div>
        </div>
    </main>
    <script>
        function login(){
            window.location.href = "/login/"
        }

        function registe() {
            window.location.href = "/register/"
        }

        function addTask() {
            let formdiv = document.getElementById("taskform");
            formdiv.style.display = "block";
        }

        function cancelForm(idname) {
            let formdiv = document.getElementById(idname)
            formdiv.style.display = "none";
        }

        function confirmForm(type) {
            switch (type) {
                case "add":
                    document.forms[0].submit();
                    break;
                case "edit":
                    document.forms[1].submit();
                    break;
            }
        }

        function editForm(obj) {
            let task_id = obj.getElementsByTagName("input")[0].value;
            let form = document.getElementById("taskformedit");
            document.getElementById("editformip").setAttribute("value",task_id);
            form.style.display = "block";
        }

        function logout() {
            window.location.href = "/logout/";
        }

        function deleteTask(obj) {
            let value = obj.parentNode.previousElementSibling.value;
            window.location.href = "/deletetask/?id=" + value;
        }
    </script>
</body>
</html>