<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="header">
        <h1>个人登录</h1>
    </div>
    <form action="/login/" method="POST">
        <input name="username" type="text" class="user" placeholder="用户名">
        <br>
        <br>
        <input name="password" type="password" class="passwd" placeholder="密码">
    </form>
    <div class="form-sub">
        <span>
            <input type="checkbox">
            记住我
        </span>
        <input name="submitinput" type="submit" class="subinput" value="登录">
    </div>
</body>
</html>