<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/login.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="logo"></div>
        <form action="/login/" method="POST">
            <div class="formitem">
                <input name="username" type="text" id="user" placeholder="用户名">
            </div>
            <br>
            <div class="formitem">
                <input name="password" type="password" id="passwd" placeholder="密码" onkeydown="keyDown(event)">
            </div>
        </form>
        <p style="color: red;">{{ errmsg }}</p>
        <div class="subform">
            <button id="register" onclick="registeAction()">立即注册</button>
            <input id="submit" type="button" value="登陆" onclick="submit()">
        </div>
        
        
    </div>
    
</body>
</html>